:root {
  /* Rosa-roxo vibrante */
  --purple-magenta: #d904a0;

  /* Rosa-roxo mais claro */
  --purple-pink: #d904b5;

  /* Lilás claro/pastel */
  --purple-light: #cfb6f2;

  /* Roxo azulado intenso */
  --purple-blue: #423dd9;

  /* Roxo azulado escuro */
  --purple-dark: #3733a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--purple-light);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
